# **Buổi 12: Pandas – Phần 2: Lọc & Tổng hợp dữ liệu**

> **Mục tiêu**: Thành thạo `DataFrame`, lọc, nhóm, sắp xếp, đọc/ghi file

**Yêu cầu chung**:
- `import pandas as pd`
- Dùng **phương pháp vector hóa**
- In kết quả bằng `print()` hoặc `display()`

---

In [ ]:
import pandas as pd

## BÀI 1: XỬ LÝ ĐIỂM HỌC SINH

### Yêu cầu 1.1: Tạo DataFrame từ dữ liệu sau

```python
{
  'Student': ['An', 'Bình', 'Chi', 'Dung', 'Hà', 'Khoa'],
  'Class': ['A', 'A', 'B', 'B', 'A', 'B'],
  'Math': [8.5, 7.0, 9.0, 8.0, 7.5, 9.5],
  'English': [7.5, 8.0, 8.0, 7.0, 8.5, 9.0]
}
```

**Gợi ý**: Gán vào biến `df1`

In [ ]:
# 1.1 – Tạo DataFrame

### Yêu cầu 1.2: Tính điểm trung bình mỗi học sinh → cột `Average` (làm tròn 2 chữ số)

**Đầu ra mong đợi**:
```
   Student Class  Math  English  Average
0      An     A   8.5      7.5     8.00
1    Bình     A   7.0      8.0     7.50
2     Chi     B   9.0      8.0     8.50
3    Dung     B   8.0      7.0     7.50
4      Hà     A   7.5      8.5     8.00
5    Khoa     B   9.5      9.0     9.25
```

In [ ]:
# 1.2 – Tính Average

### Yêu cầu 1.3: Lọc học sinh có `Average >= 8.0`

**Đầu ra mong đợi**:
```
  Student Class  Math  English  Average
0      An     A   8.5      7.5     8.00
2     Chi     B   9.0      8.0     8.50
4      Hà     A   7.5      8.5     8.00
5    Khoa     B   9.5      9.0     9.25
```

In [ ]:
# 1.3 – Lọc Average >= 8

### Yêu cầu 1.4: Tính trung bình `Average` theo từng lớp (`Class`)

**Đầu ra mong đợi**:
```
Class
A    7.83
B    8.42
Name: Average, dtype: float64
```

In [ ]:
# 1.4 – Trung bình Average theo Class

### Yêu cầu 1.5: Sắp xếp toàn bộ bảng theo `Average` giảm dần

**Đầu ra mong đợi**:
```
  Student Class  Math  English  Average
5    Khoa     B   9.5      9.0     9.25
2     Chi     B   9.0      8.0     8.50
0      An     A   8.5      7.5     8.00
4      Hà     A   7.5      8.5     8.00
1    Bình     A   7.0      8.0     7.50
3    Dung     B   8.0      7.0     7.50
```

In [ ]:
# 1.5 – Sắp xếp giảm dần theo Average

## BÀI 2: ĐỌC FILE CSV & XỬ LÝ

Dữ liệu đầu vào từ `examples/scores.csv`

### Yêu cầu 2.1: Đọc file `scores.csv` → biến `df2`

In [ ]:
# 2.1 – Đọc file

### Yêu cầu 2.2: Lọc học sinh có `Score >= 8` bằng `.query()`

**Đầu ra mong đợi**:
```
   Name Class  Subject  Score
0    An     A     Math    8.5
1  Bình     A  English    8.0
2   Chi     B     Math    9.0
5  Khoa     B  English    9.0
6   Lan     A     Math    8.8
```

In [ ]:
# 2.2 – Lọc Score >= 8 bằng .query()

### Yêu cầu 2.3: Tính trung bình `Score` theo `Class` và `Subject` (bảng 2D)

**Đầu ra mong đợi**:
```
Subject    English  Math
Class                  
A            8.00  8.27
B            7.75  9.00
```

In [ ]:
# 2.3 – Trung bình Score theo Class và Subject

### Yêu cầu 2.4: Xuất bảng trung bình ra file `result.csv`

In [ ]:
# 2.4 – Xuất ra result.csv

## BÀI 3: PHÂN TÍCH DOANH SỐ BÁN HÀNG

Dữ liệu đầu vào từ `examples/sales_data.csv`

### Yêu cầu 3.1: Đọc file → biến `df3`, chuyển `OrderDate` thành `datetime`

In [ ]:
# 3.1 – Đọc file và xử lý ngày

### Yêu cầu 3.2: Lọc đơn hàng Vietnam có `Profit > 500`

**Đầu ra mong đợi**:
```
   OrderID  Country     Category Product Channel  Sales  Profit OrderDate
0        1  Vietnam  Electronics  Laptop  Online   1200     600 2025-01-15
```

In [ ]:
# 3.2 – Vietnam + Profit > 500

### Yêu cầu 3.3: Lấy sản phẩm Electronics có `Sales > 1000`

**Đầu ra mong đợi**:
```
   OrderID Country     Category Product Channel  Sales  Profit OrderDate
0        1 Vietnam  Electronics  Laptop  Online   1200     600 2025-01-15
```

In [ ]:
# 3.3 – Electronics + Sales > 1000

### Yêu cầu 3.4: Tính tổng `Sales` theo `Country` và `Category` (bảng 2D)

**Đầu ra mong đợi**:
```
Category     Clothing  Electronics  Furniture
Country                                    
Singapore          50            0          0
USA                 0          900        300
Vietnam           120         2000        500
```

In [ ]:
# 3.4 – Tổng Sales theo Country và Category

### Yêu cầu 3.5: Tính tổng `Sales`, trung bình `Profit`, đếm `OrderID` theo `Country`

**Đầu ra mong đợi**:
```
           Sales  Profit  OrderID
Country                         
Singapore     50      20        1
USA         1200     250        2
Vietnam     2650     233        5
```

In [ ]:
# 3.5 – Tổng Sales, TB Profit, đếm OrderID theo Country

### Yêu cầu 3.6: Sắp xếp quốc gia theo tổng `Sales` giảm dần

**Đầu ra mong đợi**:
```
Vietnam      2650
USA          1200
Singapore      50
Name: Sales, dtype: int64
```

In [ ]:
# 3.6 – Sắp xếp Country theo tổng Sales giảm dần

### Yêu cầu 3.7: Tính tổng `Sales` tháng 1/2025

**Đầu ra mong đợi**: `2830`

In [ ]:
# 3.7 – Tổng Sales tháng 1

### Yêu cầu 3.8: Tính tổng `Sales` theo kênh `Online` và `Offline` (cả năm)

**Đầu ra mong đợi**:
```
Channel
Offline     920
Online     2980
Name: Sales, dtype: int64
```

In [ ]:
# 3.8 – Tổng Sales theo Channel

---
**HOÀN TẤT!**


**Gợi ý kiểm tra**:
- `df.head()`
- `df.info()`
- `df.describe()`