# üßÆ 3. Pandas DataFrame
---
## üéØ M·ª•c ti√™u
- Hi·ªÉu c·∫•u tr√∫c **DataFrame** trong Pandas.
- Bi·∫øt c√°ch t·∫°o, truy c·∫≠p, th√™m, x√≥a v√† thao t√°c c∆° b·∫£n v·ªõi DataFrame.
---

## üìò 3.1. Gi·ªõi thi·ªáu DataFrame

**Pandas DataFrame** l√† c·∫•u tr√∫c d·ªØ li·ªáu (`m·∫£ng 2D chi·ªÅu`) quan tr·ªçng nh·∫•t trong th∆∞ vi·ªán **Pandas** c·ªßa Python.
N√≥ l√† m·ªôt d·∫°ng **b·∫£ng d·ªØ li·ªáu (table)** g·ªìm **h√†ng** v√† **c·ªôt**, t∆∞∆°ng t·ª± nh∆∞:

* B·∫£ng Excel
* B·∫£ng d·ªØ li·ªáu SQL
* B·∫£ng trong R (data.frame)

M·ªôt DataFrame ƒë∆∞·ª£c t·∫°o t·ª´ nhi·ªÅu **Series** gh√©p l·∫°i theo c·ªôt.

üëâ N√≥i ƒë∆°n gi·∫£n:
**DataFrame = t·∫≠p h·ª£p c√°c Series + c·∫•u tr√∫c h√†ng/c·ªôt + nhi·ªÅu c√¥ng c·ª• x·ª≠ l√Ω d·ªØ li·ªáu.**


![pandas_dataframe](./img/pandas-dataframe.png)

---

## 2. ƒê·∫∑c ƒëi·ªÉm n·ªïi b·∫≠t c·ªßa DataFrame

### ‚úîÔ∏è C·∫•u tr√∫c 2 chi·ªÅu g·ªìm:

* **Rows (axis 0)** ‚Üí Quan s√°t d·ªØ li·ªáu
* **Columns (axis 1)** ‚Üí Thu·ªôc t√≠nh d·ªØ li·ªáu

### ‚úîÔ∏è M·ªói c·ªôt c√≥ th·ªÉ ch·ª©a ki·ªÉu d·ªØ li·ªáu kh√°c nhau:

* s·ªë (`int`, `float`)
* chu·ªói (`str`)
* datetime
* boolean
* object

### ‚úîÔ∏è D·ªØ li·ªáu c√≥ th·ªÉ ƒë·∫øn t·ª´ nhi·ªÅu ngu·ªìn:

* CSV, Excel
* SQL database
* JSON
* Dictionary, list, numpy array
* Website (HTML tables)

### ‚úîÔ∏è T·ªëi ∆∞u cho ph√¢n t√≠ch d·ªØ li·ªáu:

* L·ªçc d·ªØ li·ªáu (filter)
* S·∫Øp x·∫øp
* G·ªôp nh√≥m (groupby)
* Gh√©p / n·ªëi b·∫£ng (merge, join, concat)
* X·ª≠ l√Ω gi√° tr·ªã thi·∫øu (NaN)
* Th·ªëng k√™ m√¥ t·∫£

Pandas DataFrame ƒë∆∞·ª£c thi·∫øt k·∫ø ƒë·ªÉ:

> **Nhanh ‚Äì Linh ho·∫°t ‚Äì D·ªÖ thao t√°c ‚Äì H·ªó tr·ª£ ph√¢n t√≠ch d·ªØ li·ªáu l·ªõn.**

---

# 3. C·∫•u tr√∫c c·ªßa DataFrame

M·ªôt DataFrame g·ªìm 3 th√†nh ph·∫ßn ch√≠nh:

1. **Data**: d·ªØ li·ªáu ch√≠nh (m·∫£ng 2 chi·ªÅu)
2. **Index (h√†ng)**: nh√£n c·ªßa c√°c d√≤ng
3. **Columns (c·ªôt)**: t√™n c√°c c·ªôt

V√≠ d·ª• DataFrame:

| Name | Age | Score |
| ---- | --- | ----- |
| A    | 20  | 85    |
| B    | 22  | 90    |
| C    | 19  | 78    |

Trong ƒë√≥:

* Index = `[0, 1, 2]`
* Columns = `['Name', 'Age', 'Score']`
* Data = c√°c gi√° tr·ªã b√™n trong

---

Import th∆∞ vi·ªán

In [ ]:
import pandas as pd
import numpy as np

## üß© 3.2. C√°ch t·∫°o DataFrame
### üîπ T·∫°o t·ª´ dictionary

In [ ]:
data = {
    'Name': ['An', 'B√¨nh', 'Chi'],
    'Age': [20, 21, 19],
    'Score': [85, 90, 88]
}

df = pd.DataFrame(data)
print(df)

### üîπ T·∫°o t·ª´ danh s√°ch c√°c dictionary

In [ ]:
data = [ {'Name': 'An', 'Age': 20, 'Score': 85}, 
        {'Name': 'B√¨nh', 'Age': 21, 'Score': 90}, 
        {'Name': 'Chi', 'Age': 19, 'Score': 88} 
]

df = pd.DataFrame(data)
print(df)

### üîπ T·∫°o t·ª´ NumPy array

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
df = pd.DataFrame(arr, columns=['A', 'B', 'C'])
print(df)

### üîπ T·∫°o DataFrame r·ªóng v√† th√™m c·ªôt sau

In [ ]:
df = pd.DataFrame()
df['Name'] = ['An', 'B√¨nh']
df['Score'] = [85, 92]
print(df)

## üîç 3.3. Truy c·∫≠p d·ªØ li·ªáu

### üß© Truy c·∫≠p c·ªôt

In [ ]:
print(df['Name'])
print(df.Score)

### üß© Truy c·∫≠p h√†ng b·∫±ng `loc` v√† `iloc`

In [ ]:
# Truy c·∫≠p h√†ng theo index label
print(df.loc[0])  # H√†ng ƒë·∫ßu ti√™n

In [ ]:
df.loc[0, 'Name']  # l·∫•y gi√° tr·ªã c·ª• th·ªÉ

In [ ]:
# Truy c·∫≠p h√†ng theo v·ªã tr√≠ s·ªë
print(df.iloc[1])  # H√†ng th·ª© 2

In [ ]:
df.iloc[1:3] # T·ª´ h√†ng 1 ƒë·∫øn 2

### üß© Truy c·∫≠p v√πng d·ªØ li·ªáu con (slice)

In [ ]:
print(df.loc[0:1, ['Name', 'Score']])

## ‚úèÔ∏è 3.4. Th√™m v√† x√≥a d·ªØ li·ªáu

### üîπ Th√™m c·ªôt m·ªõi

In [ ]:
df['Passed'] = df['Score'] >= 85
print(df)

### üîπ X√≥a c·ªôt ho·∫∑c h√†ng

In [ ]:
# X√≥a c·ªôt
df_dropped = df.drop('Score', axis=1)
print(df_dropped)

In [ ]:
# X√≥a h√†ng
df_dropped_row = df.drop(1, axis=0)  # x√≥a h√†ng c√≥ index = 1
print(df_dropped_row)

### üîπ S·∫Øp x·∫øp d·ªØ li·ªáu

In [ ]:
df.sort_values(by='Age', ascending=False)

### üîπ X·ª≠ l√Ω d·ªØ li·ªáu b·ªã thi·∫øu (NaN)

In [ ]:
#V√≠ d·ª• v·ªõi d·ªØ li·ªáu c√≥ ch∆∞a NaN
data = [
    {'Name': 'An',    'Age': 20,  'Score': 85},
    {'Name': 'B√¨nh',  'Age': None, 'Score': 90},    
    {'Name': 'Chi',   'Age': 19,  'Score': None},   
    {'Name': 'Dung',  'Age': None, 'Score': None},  
    {'Name': None,    'Age': 22,  'Score': 95},      
    {'Name': 'H√†',    'Age': 23,  'Score': None},  
]
df = pd.DataFrame(data)
print(df)

In [ ]:
df.isnull()         # ki·ªÉm tra gi√° tr·ªã thi·∫øu

In [ ]:
df.fillna(0)        # thay gi√° tr·ªã NaN b·∫±ng 0

In [ ]:
df.dropna()         # lo·∫°i b·ªè h√†ng c√≥ gi√° tr·ªã NaN

## üßÆ 3.5. M·ªôt s·ªë ph∆∞∆°ng th·ª©c th∆∞·ªùng d√πng

In [ ]:
print(df.head(2))           # L·∫•y 2 h√†ng ƒë·∫ßu

In [ ]:
print(df.tail(1))           # L·∫•y h√†ng cu·ªëi

In [ ]:
print(df.info())            # Th√¥ng tin t·ªïng quan

In [ ]:
print(df.describe())        # Th·ªëng k√™ c∆° b·∫£n cho c·ªôt s·ªë

In [ ]:
print(df.sort_values('Score', ascending=False))  # S·∫Øp x·∫øp theo ƒëi·ªÉm

## üßæ 3.6. L·ªçc d·ªØ li·ªáu theo ƒëi·ªÅu ki·ªán

In [ ]:
print(df[df['Score'] > 85])  # L·ªçc theo ƒëi·ªÉm
print(df[(df['Age'] > 19) & (df['Score'] >= 85)])  # K·∫øt h·ª£p nhi·ªÅu ƒëi·ªÅu ki·ªán

## üîó 3.7. G·ªôp & n·ªëi DataFrame

### üîπ `concat()` ‚Äì Gh√©p d·ªçc ho·∫∑c ngang

In [ ]:
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

print(pd.concat([df1, df2], axis=0))  # Gh√©p d·ªçc (th√™m h√†ng)
print(pd.concat([df1, df2], axis=1))  # Gh√©p ngang (th√™m c·ªôt)

### üîπ `merge()` ‚Äì G·ªôp theo c·ªôt chung (gi·ªëng JOIN trong SQL)

In [ ]:
df_left = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['An', 'B√¨nh', 'Chi']})
df_right = pd.DataFrame({'ID': [1, 2, 4], 'Score': [85, 90, 70]})

merged = pd.merge(df_left, df_right, on='ID', how='inner')
print(merged)

### üîπ M·ªôt s·ªë thao t√°c h·ªØu √≠ch kh√°c

In [ ]:
df['Age'].mean()       # Trung b√¨nh tu·ªïi
df['Name'].unique()    # C√°c gi√° tr·ªã duy nh·∫•t
df['Score'].value_counts() # ƒê·∫øm t·∫ßn su·∫•t
df.rename(columns={'Name': 'FullName'}, inplace=True) # ƒë·ªïi t√™n c·ªôt

### üîπ  Truy xu·∫•t n√¢ng cao
#### √Åp d·ª•ng h√†m cho t·ª´ng ph·∫ßn t·ª≠

In [ ]:
# C·ªông v√†o tr∆∞·ªùng Age th√™m 1 ƒë∆°n v·ªã
df['Age'] = df['Age'].apply(lambda x: x + 1)

#### G·ªôp nh√≥m (Group By)

In [ ]:
#T√≠nh trung b√¨nh c·ªôt Age
df.groupby('City')['Age'].mean()

## üìä **4.9. K·ªπ thu·∫≠t di chuy·ªÉn v·ªã tr√≠ c√°c c·ªôt trong DataFrame**

Gi·∫£ s·ª≠ b·∫°n c√≥ DataFrame nh∆∞ sau:

In [ ]:
df3 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'City': ['New York', 'London', 'Tokyo']
})

print(df3)

**1. C√°ch 1 ‚Äì S·∫Øp x·∫øp l·∫°i b·∫±ng danh s√°ch t√™n c·ªôt**

N·∫øu b·∫°n mu·ªën **di chuy·ªÉn c·ªôt `City` l√™n ƒë·∫ßu**, b·∫°n c√≥ th·ªÉ ch·ªâ ƒë·ªãnh th·ª© t·ª± c·ªôt th·ªß c√¥ng:

In [ ]:
c_1 = df3[['City', 'Name', 'Age']]
print(c_1)

C√°ch 2 ‚Äì D√πng `insert()` ƒë·ªÉ ch√®n l·∫°i c·ªôt v√†o v·ªã tr√≠ mong mu·ªën**

B·∫°n c√≥ th·ªÉ **ch√®n m·ªôt c·ªôt ƒë√£ c√≥ v√†o v·ªã tr√≠ m·ªõi** r·ªìi x√≥a c·ªôt c≈©.

V√≠ d·ª•: di chuy·ªÉn c·ªôt `City` l√™n v·ªã tr√≠ ƒë·∫ßu ti√™n:

In [ ]:
city_col = df3.pop('City')      # L·∫•y v√† x√≥a c·ªôt City kh·ªèi DataFrame
df3.insert(0, 'City', city_col) # Ch√®n l·∫°i c·ªôt City v√†o v·ªã tr√≠ ƒë·∫ßu (index 0)
print(df3)

üëâ ∆Øu ƒëi·ªÉm:

* D·ªÖ d√πng khi ch·ªâ mu·ªën di chuy·ªÉn **m·ªôt c·ªôt duy nh·∫•t**.
* Kh√¥ng c·∫ßn vi·∫øt l·∫°i to√†n b·ªô danh s√°ch c·ªôt.

C√°ch 3 ‚Äì S·ª≠ d·ª•ng `reindex()` ƒë·ªÉ s·∫Øp x·∫øp l·∫°i c·ªôt**

C√°ch n√†y h·ªØu √≠ch khi b·∫°n mu·ªën ƒë·∫£m b·∫£o DataFrame c√≥ **th·ª© t·ª± c·ªôt c·ªë ƒë·ªãnh**, c√≥ th·ªÉ √°p d·ª•ng sau khi merge ho·∫∑c ƒë·ªçc t·ª´ file.

In [ ]:
df3 = df3.reindex(columns=['Age', 'Name', 'City'])
print(df3)

## 5. Xu·∫•t d·ªØ li·ªáu t·ª´ DataFrame th√†nh t·ªáp

### 5.1 Xu·∫•t DataFrame ra file CSV

Xu·∫•t b√¨nh th∆∞·ªùng

In [ ]:
df.to_csv("output.csv")

Xu·∫•t kh√¥ng k√®m index

In [ ]:
df.to_csv("output.csv", index=False)

Xu·∫•t v·ªõi encoding UTF-8 (tr√°nh l·ªói ti·∫øng Vi·ªát)

In [ ]:
df.to_csv("output.csv", index=False, encoding='utf-8-sig')

### 5.2. Xu·∫•t ra file Excel (.xlsx)

C·∫ßn th∆∞ vi·ªán `openpyxl` (th∆∞·ªùng ƒë√£ c√≥ s·∫µn).

Xu·∫•t c∆° b·∫£n

In [ ]:
df.to_excel("output.xlsx")

Kh√¥ng xu·∫•t index:

In [ ]:
df.to_excel("output.xlsx", index=False)

Ghi v√†o m·ªôt sheet c·ª• th·ªÉ:

In [ ]:
df.to_excel("output.xlsx", sheet_name="Sheet1", index=False)

---
## ‚úÖ T·ªïng k·∫øt

| Ch·ª©c nƒÉng | Ph∆∞∆°ng th·ª©c | M√¥ t·∫£ |
|------------|--------------|--------|
| T·∫°o DataFrame | `pd.DataFrame()` | T·∫°o b·∫£ng d·ªØ li·ªáu |
| Truy c·∫≠p d·ªØ li·ªáu | `loc[]`, `iloc[]`, `[]` | L·∫•y h√†ng, c·ªôt, v√πng d·ªØ li·ªáu |
| Th√™m d·ªØ li·ªáu | G√°n c·ªôt m·ªõi | Th√™m c·ªôt ho·∫∑c gi√° tr·ªã |
| X√≥a d·ªØ li·ªáu | `drop()` | X√≥a h√†ng ho·∫∑c c·ªôt |
| Th·ªëng k√™ c∆° b·∫£n | `info()`, `describe()` | Xem t·ªïng quan d·ªØ li·ªáu |
| L·ªçc | D√πng ƒëi·ªÅu ki·ªán logic | Ch·ªçn h√†ng th·ªèa ƒëi·ªÅu ki·ªán |
| G·ªôp/N·ªëi | `concat()`, `merge()` | K·∫øt h·ª£p nhi·ªÅu DataFrame |

üëâ DataFrame l√† n·ªÅn t·∫£ng ch√≠nh c·ªßa Pandas ƒë·ªÉ x·ª≠ l√Ω d·ªØ li·ªáu b·∫£ng ‚Äî n·∫Øm v·ªØng ph·∫ßn n√†y s·∫Ω gi√∫p b·∫°n l√†m vi·ªác hi·ªáu qu·∫£ v·ªõi d·ªØ li·ªáu th·ª±c t·∫ø.